include _header

.container
   .row
      section#heading.block.col.col-lg-12
         h1.logo everything.io
         h1.subtitle The operating system 
            br
            | for your stuff. 
         a(href="img/full.png")
            img(src="img/iPad.png")
article.break
   .container
      .row
         section.block.col.col-lg-12
            h2 Computers organize your files. 
               span.branded everything
               |  organizes your physical possessions. 
            p 
               span.branded everything
               |  can digitally organize your connected devices or the things you add manually.
            p Imagine the possibilities:
            ul.spacious
               li Transfer photos from your cloud-connected camera to your phone or tablet with simple drag and drop.
               li Create alerts when your connected devices are using too much energy. Even shut them off right from the web app.
            p
               img.spacious(src="img/energy.png")
            ul.spacious
               li Keep valuable purchase information for expensive purchases ready for tax day.
               li Tag the clothes you loan out to friends.
            p
               img.spacious(src="img/onloan.png")
            ul.spacious
               li The food in your fridge can let you know when it's about to expire.
            p
               img.spacious(src="img/alert.png")
            ul.spacious
               li Your car tells you when it's low on gas or needs an oil change. Find it on a map if it falls in the wrong hands.

            p Manufacturers of Internet-connected physical products (Think fitness bands and smart lamps) can use our basic Input/Output API (That's where the "io" comes from) to customize how the products display information and what functions they can provide remotely.
            h2 How can I get 
               span.branded everything
               | ?
            p Sorry, we're not ready just yet, but you can 
               a(href="#") leave us your email 
               |  and we'll let you know when we're ready.
            p If you're interested in having your physical product as one of the first to use 
               span.branded everything
               | , 
               a(href="#") let us know.
