include _header

.container
   .row
      section#heading.block.col.col-lg-12
         != title_with_markup()
         p Bootstrap extended 
            br
            | with apps, themes, and UI extras
         p
            a.btn.btn-large.btn-primary(href="#") Download
         p
            em Coming soon. Download our 
               a(href="http://getkickstrap.com/download") Bootstrap 3 ready version 1.5
               |  until then.
      section.block.col.col-lg-12
         h1 About
         p Bootstrap empowers you with CSS and JavaScript for creating common, minimalistic web applications.
         p Kickstrap is a standard for extending the functionality of Bootstrap with themes, extra UI components, advanced JavaScript via JSPM, and MVC-pattern UI-binding via AngularJS.
         p Simply put--everything you need to create a web app of any scale, yet nothing you have to use for beginner web developers.
         p You may not know what to do with all these technology, so we've provided working example templates using these technologies.
      section.block.col.col-lg-12
         h1 Themes
      section.block.col.col-lg-12
         h1 Apps
      section.block.col.col-lg-12
         h1 UI Extras
      section.block.col.col-lg-12
         h1 JSPM
      section.block.col.col-lg-12
         h1 Angular JS
