include _header

.container
   .row
      section#heading.block.col.col-lg-12
         h1.logo everything.io
         h1.subtitle The Operating System 
            br
            | for your Stuff. 
         img(src="img/ipad.png")
      section.block.col.col-lg-12
         h2 Quickly start and build web apps 
         p [GIF: Starting a Kickstrap project, example templates]
