!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")

    title= title
    
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/master.css')
  body
    #wrap
        != content
    footer#footer
        .container
            .row
                .col.col-lg-12
                    p &copy; 
                        a(href="http://adamkochanowicz.com") Adam Kochanowicz

    //- add other scripts through require.js, not here
    script(data-main="js/main", src="js/require.js")
    script(src="//use.typekit.net/odk7zju.js")
    script
      try{Typekit.load();}catch(e){}

    //- this must be included for live reload to work in developement
    //- it will be automatically ignored when deployed
    != livereload
