html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 0 -60px;
  padding: 0 0 60px;
}
#footer {
  height: 60px;
  background-color: #f5f5f5;
}
#footer p {
  line-height: 60px;
  margin: 0;
}
.block {
  padding-bottom: 40px;
}
.block h2 {
  font-size: 20px;
}
.block#heading {
  padding: 20px;
}
.block#heading img {
  max-width: 100%;
}
.block#heading * {
  text-align: center;
}
.block#heading h1 {
  font-size: 40px;
}
.block#heading h1.logo {
  font-family: "rooney-web", sans-serif;
}
.block#heading h1.subtitle {
  margin-bottom: 50px;
}
.block#heading a {
  color: #907701;
  text-decoration: underline;
}
.block#heading a.btn {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
#footer {
  background-color: #f2efeb;
}
a {
  color: #9b0000;
}
*,
p,
em,
label,
h1,
h2,
h3,
h4,
h5,
strong,
b,
i,
table,
div {
  font-family: "proxima-nova", sans-serif;
}
.btn-primary {
  background-color: #9b0000;
  border-color: #9b0000;
}
.btn-primary:hover {
  border-color: #9b0000;
}
