@import '_sticky-footer'
@import '_variables'
@import '_mixins'

body
   background-color: $blue

.break
   background-color: white
img
   max-width: 100%
   &.spacious
      margin: 20px inherit
.block
   h2
      font-size: 20px
   padding-bottom: 40px
   &#heading
      padding: 20px
      padding-bottom: 0px
      img
         max-width: 100%
         cursor: pointer
      *
         text-align: center
      h1 
         font-size: 40px
         color: white
         &.logo
            font-family: "rooney-web", sans-serif
         &.subtitle
            margin-bottom: 20px
            color: darken($blue, 40%)
            font-size: 25px
      a
         color: darken($yellow, 50%)
         text-decoration: underline 
      a.btn
         color: white
         text-decoration: none
         font-size: 16px
#footer
   background-color: $lightBrown

// TYPOGRAPHY

a
   color: $blue
*, p, em, label, h1, h2, h3, h4, h5, strong, b, i, table, div, ul, li
   font-family: "proxima-nova", sans-serif
   color: #333;
.branded
   font-family: "rooney-web", sans-serif !important
ul.spacious
   list-style: none
   margin-left: 10px
   margin-right: 10px
   padding: 0px
   li
      list-style: none
      margin: 15px inherit

// BUTTONS

.btn-primary
   // background-gradient($red)
   background-color: $red
   border-color: $red
   &:hover
      border-color: $red
